*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:sans-serif;
}
body{
	padding:10px;
	
	
}
h1{
	 /* display:grid; 
	 grid-template-rows:1fr;  */
	border:2px solid white;
}
header>p{
	border:2px solid gray;
	color:black;
	padding:6px;
	margin-top:5px;
	background-color:lightgray;
}
.container{
	height:100px;
	width:100%;
	margin-top:10px;
	border:2px solid lightgray;
	background-color:whitesmoke;
}
.container>h4{
	padding:10px;
}
.container>p{
	margin-bottom:10px;
	margin-left:10px;
}

.container>button{
	margin-left:10px;
	padding:5px;
	color:white;
	background-color:deepskyblue
}
	.contain{
		height:150px;
		width:200px;
		background-color:red;
		color:white;
		padding:10px;
		margin-top:10px;
}
.contain>p1{
	font-size:15px;
	display:grid;
	/* width: 500px;
	height:100px; */
	border:2px solid tomato;
	margin-bottom:10px;
}

.contain>h3{
	padding:10px;
	font-size:20px;
	
}

.contain>p{
	margin-bottom:30px
}
.image{
	padding:10px;
	color:black;
	width:500px;
}
.image>img{
	 width:500px;
	height:200px; 
	margin-bottom:20px;
	
}
.image>h3{
	margin-bottom:10px;
}
.image>p{
	margin-bottom:10px;
}
.image>p2{
	font-weight:lighter;
}